body {
  background-color: black;
  padding: 0px;
  margin: 0px;
  font-family: Roboto;
  color: white;
}

article {
  width: 50%;
  margin: 50px;
  word-wrap: break-word;
}

#second {
  margin: 50px;
  width: 90%;
  height: 700px;
  word-wrap: break-word;
}

#third {
  width: 90%;
  margin: 50px;
  word-wrap: break-word;
}

#fourth {
  width: 90%;
  word-wrap: break-word;
  margin: 50px;
  text-align: center;
}

#fifth {
  width: 90%;
  word-wrap: break-word;
  margin: 50px;
  height: 500px;
}

#titleTTD {
  letter-spacing: 2px;
  font-size: 30px;
  font-weight: 600;
}

#titleE {
  letter-spacing: 2px;
  font-size: 30px;
  font-weight: 600;
  text-align: center;
}

#titleP {
  letter-spacing: 3px;
  font-size: 30px;
  font-weight: 600;
  text-align: center;
}

#titleI {
  text-align: right;
  letter-spacing: 2px;
  font-size: 30px;
  font-weight: 600;
}

#imageTTD {
  position: relative;
  width: 600px;
  text-align: center;
  border-radius: 20px;
  float: left;
}

#imageI {
  position: absolute;
  width: 600px;
  text-align: center;
  border-radius: 20px;
}

#textI {
  position: relative;
  line-height: 25px;
  font-size: 19px;
  left: 60%;
  width: 450px;
}

#imageP {
  position: relative;
  width: 1100px;
  border-radius: 10px;
}

#titleMicTTD {
  position: relative;
  vertical-align: top;
  display: inline;
  font-size: 20px;
  font-weight: 600;
}

#textMicTTD {
  position: relative;
  text-align: center;
  line-height: 25px;
  font-size: 19px;
}

#titleS {
  letter-spacing: 2px;
  font-size: 30px;
  font-weight: 600;
}

#textS {
  font-size: 20px;
}

#textE {
  position: absolute;
  width: 40%;
}

#logoMare {
  position: absolute;
  width: 300px;
  z-index: 3;
  top: 400px;
}

#logoF {
  margin-top: -50px;
  position: absolute;
  width: 150px;
  display: inline;
}

#center {
  display: flex;
  justify-content: center;
}

.social {
  float: right;
  width: 30px;
  margin: 5px;
}

#videoMare {
  position: relative;
  width: 100%;
  z-index: 0;
}

#triangle {
  position: absolute;
  bottom: 30%;
  height: 100%;
  width: 100%;
  z-index: 2;
  border-bottom: 200px solid black;
  border-left: 1224px solid transparent;
}

#text-overlay {
  position: absolute;
  top: 0px;
  height: 86px;
  left: 0px;
  color: white;
  font-size: 24px;
  background-color: black;
  width: 100%;
  font-weight: 600;
}

#text-overlayS {
  position: absolute;
  top: 0px;
  height: 86px;
  left: 0px;
  color: white;
  font-size: 24px;
  width: 100%;
  text-align: right;
  font-weight: 600;
}

* {
  box-sizing: border-box;
}

.image {
  border-radius: 10px;
}

/* Slideshow container */
.slideshow-container {
  max-width: 500px;
  position: relative;
  margin-left: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 1;
  }
  to {
    opacity: 1;
  }
}

/*# sourceMappingURL=output.css.map */
